lccp/target
lccp/*/target/
lccp/pkg/*.wasm
lccp/pkg/ui
lccp/*.swp
lccp/*.swo
lccp/*/wasi_snapshot_preview1.wasm
lccp/*/wit/
lccp/*/process_env
lccp/ui/dist
lccp/ui/node_modules
lccp/node_modules
lccp/.vscode
lccp/*/**/yarn-error.log
openai/target
openai/*/target/
openai/pkg/*.wasm
openai/pkg/ui
openai/*.swp
openai/*.swo
openai/*/wasi_snapshot_preview1.wasm
openai/*/wit/
openai/*/process_env
openai/ui/dist
openai/ui/node_modules
openai/node_modules
openai/.vscode
openai/*/**/yarn-error.log